<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Product Id="*" Name="ReSharper NTriples Language Support" Language="1033" Version="$(var.ProductVersion)"
           Manufacturer="Stephan Burguchev" UpgradeCode="d597582f-423b-4008-bfd6-3c7b4882a70e">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>

    <Icon Id="ProductIcon" SourceFile="n3_icon_large.ico"/>
    <Property Id="ARPPRODUCTICON">ProductIcon</Property>

    <Feature Id="Complete" Title="Everything" Description="Everything" Level="1">
      <ComponentRef Id="C.Everything"/>
    </Feature>

    <Property Id="RESHARPERDIR2010" Secure="yes">
      <RegistrySearch Id="RSInstallRegistry2010" Root="HKLM" Key="Software\JetBrains\ReSharper\v$(var.ReSharperVersion)\vs10.0"
        Name="InstallDir" Type="directory" />
    </Property>

    <Property Id="RESHARPERDIR2012" Secure="yes">
      <RegistrySearch Id="RSInstallRegistry2012" Root="HKLM" Key="Software\JetBrains\ReSharper\v$(var.ReSharperVersion)\vs11.0"
        Name="InstallDir" Type="directory" />
    </Property>

    <Property Id="RESHARPERDIR2013" Secure="yes">
      <RegistrySearch Id="RSInstallRegistry2013" Root="HKLM" Key="Software\JetBrains\ReSharper\v$(var.ReSharperVersion)\vs12.0"
        Name="InstallDir" Type="directory" />
    </Property>

    <Condition Message='ReSharper $(var.ReSharperVersion) and Visual Studio 2010 or 2012 or 2013 are required to proceed with the installation.'>
        Installed OR (RESHARPERDIR2010 OR RESHARPERDIR2012 OR RESHARPERDIR2013)
    </Condition>
    
    <UI>
      <UIRef Id="WixUI_Minimal" />
    </UI>
  
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
  </Product>
    
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="D.AppDataFolder.JetBrains" Name="JetBrains">
          <Directory Id="D.AppDataFolder.JetBrains.ReSharper" Name="ReSharper">
            <Directory Id="D.AppDataFolder.JetBrains.ReSharper.vAny" Name="vAny">
              <Directory Id="D.AppDataFolder.JetBrains.ReSharper.vAny.Plugins" Name="Plugins">
                <Directory Id="R.Plugins.NTriples" Name="NTriples" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  
    <DirectoryRef Id="R.Plugins.NTriples">
      <Component Id="C.Everything" Guid="5E1C76D4-21EE-4C50-97D0-91F0A72BCADD">
        <File Source="..\ReSharper.NTriples\bin\x86\Release\ReSharper.NTriples.dll" />
        <RegistryKey Root="HKCU" Key="Software\ReSharper.NTriples\Uninstall">
          <RegistryValue Value="ReSharper.NTriples.Installed" Type="string" KeyPath="yes" />
        </RegistryKey> 
        <RemoveFolder Id="D.AppDataFolder.JetBrains.Remove" Directory="D.AppDataFolder.JetBrains" On="uninstall" />
        <RemoveFolder Id="D.AppDataFolder.JetBrains.ReSharper.Remove" Directory="D.AppDataFolder.JetBrains.ReSharper" On="uninstall" />
        <RemoveFolder Id="D.AppDataFolder.JetBrains.ReSharper.vAny.Remove" Directory="D.AppDataFolder.JetBrains.ReSharper.vAny" On="uninstall" />
        <RemoveFolder Id="D.AppDataFolder.JetBrains.ReSharper.vAny.Plugins.Remove" Directory="D.AppDataFolder.JetBrains.ReSharper.vAny.Plugins" On="uninstall" />
        <RemoveFolder Id="R.Plugins.NTriples.Remove" Directory="R.Plugins.NTriples" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>